/* Fontes utilizadas no site */

/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:wght@400;700&family=Roboto&display=swap');

:root {
    --primary-color: #182848;
    --secundary-color: #1a408d;
    --white-color: #ffff

}

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62,5%;
}

body {
    font-family: 'Roboto';
    background-color: var(--primary-color);
    color: var(--white-color);
}

h1,
h2,
h3 {
    font-family: 'Montserrat';
    text-transform: uppercase;
}

.logo {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
    margin: 50px;
}


.title {
    padding: 40px;
    font-size: 3.5rem;
    text-align: center;
}

/* Caixa das localizações */

.localization-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(410px, 1fr));
    margin: 30px;
    justify-items: center;
    gap: 20px;
}

.localization-card {
    background-color: var(--secundary-color);
    border: 3px solid var(--secundary-color);
    padding: 30px;
    border-radius: 10px;
}

.localization-card:hover {
    background-color: #214ca1;
    border: 3px solid var(--white-color);
    transition: 1s;
}

.localization-content {
    display: grid;
    grid-template-rows: 3fr 1fr;
    justify-items: center;
    align-items: center;
}

.localization-map iframe {
    border: 3px solid var(--primary-color);
    border-radius: 5px;
}

.localization-description {
    font-size: 1.3rem;
}

/* Caixa dos horários de funcionamento das academias */

.localization-time {
    background-color: var(--white-color);
    color: var(--primary-color);
}

.time-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    padding: 50px;
    place-items: center;
    gap: 10px;
    font-size: 1.3rem;
}

.time-card h3 {
    font-size: 1.8rem;
    padding: 10px;
}

.time-title {
    font-size: 1.8rem;
    text-align: center;
    padding: 40px;
}

.time-week {
    background-color: var(--primary-color);
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    width: 320px;
    border-radius: 8px;
    line-height: 3rem;
}

/* Cronograma de atividades do programa */

.activities-title {
    text-align: center;
    font-size: 1.8rem;
    padding: 40px;
}

.activities-timeline {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    place-items: center;
    font-size: 25px;
    line-height: 40px;
    font-weight: bold;
}

.timeline-box-one,
.timeline-box-two {
    background-color: var(--white-color);
    color: var(--primary-color);
    padding: 30px;
    border-radius: 5px;
    margin: 40px;
    height: 280px;
    display: grid;
    align-items: center;
}

.link {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
}

.link:hover {
    text-decoration: underline;
}

.footer-link {
    padding: 15px;
    background-color: var(--white-color);
    text-align: center;
    font-weight: bold;
}

/* Responsividade */

@media (max-width: 950px) {
    .logo-two, 
    .logo-five {
        display: none;
    }

    .logo {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 715px) {
    .title {
        font-size: 3rem;
    }

    .time-title,
    .activities-title {
        font-size: 1.6rem;
    }
}

@media (max-width: 575px) {
    body {
        font-size: 1.3rem;
    }

    li {
        font-size: 1.3rem;
    }

    .title {
        font-size: 2.5rem;
    }

    .time-title,
    .activities-title {
        font-size: 1.4rem;
    }

    .logo-one,
    .logo-four {
        display: none;
    }

    .logo {
        display: flex; 
        justify-content: center;
    }
}

@media (max-width: 500px) {
    .timeline-box-one,
    .timeline-box-two {
        height: 290px;
    }

    .time-week h3 {
        font-size: 1.4rem;
    }
}

@media (max-width: 460px) {
    body {
        font-size: 1.1rem;
    }

    li {
        font-size: 1.1rem;
    }

    .title {
        font-size: 2rem;
    }

    .time-title,
    .activities-title {
        font-size: 1.2rem;
    }


    .localization-description {
        font-size: 1.1rem;
    }

    iframe {
        width: 300px;
        height: 200px;
    }
    
    .localization-box {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .localization-card {
        padding: 10px;
    }

    .time-week h3 {
        font-size: 1.4rem;
    }

    .time-week {
        font-size: 1rem;
    }
}

@media (max-width: 425px) {
    .time-card h3 {
        font-size: 1.2rem;
    }

    .time-card {
       padding: 50px 0px;
    }
}

@media (max-width: 400px) {
    .activities-timeline {
        width: 400px;
    }

    .time-card {
        padding: 20px;
    }

    .timeline-box-one,
    .timeline-box-two {
        padding: 10px;
        margin: 20px;
    }

    .footer-link {
        width: 400px;
    }
}
